@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
  --font-sans: var(--font-cairo), ui-sans-serif, system-ui, sans-serif;
  --color-brand: #758c81;
  --color-brand-light: #adc0b5;
  --color-brand-dark: #586f63;
}

body {
  background-color: #fafafa;
  color: #1a1a1a;
  overflow-x: hidden;
}

